
  #contact{
    margin: auto;
    background-color: rgba(19, 67, 211, 0.404);
    border: rgba(179, 174, 174, 0.808) solid;
    width: 90vw;
  }

  #interests{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgba(255, 6, 180, 0.288);
    width: 80vw;
    border: rgba(179, 174, 174, 0.808) solid;
  }

  #links{
    margin: auto;
    background-color: rgba(32, 167, 104, 0.363);
    width: 80vw;
    border: rgba(179, 174, 174, 0.808) solid;
  }


  .interests-grid {
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: minmax(20px, 60px);
    grid-auto-rows: max-content 1fr;
    gap: 10px 10px;
    grid-auto-flow: column dense;
    align-content: space-between;
    grid-template-areas:
      "life life traits"
      "likeshobbies aspirations aspirations";
  }

  .interests-grid div{
      text-align: center;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      color: white;
      background-color: rgba(0, 0, 0, 0.644);
      border: white solid 2px;
    }

    ol{
      list-style: square;
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-flow: column;
    }

  .interests-grid p{
      align-items: center;
    }  
  
  .life {
    grid-area: life;
    padding: 40px; 
  }

  .life p{
    font-size: 2rem;
    text-align:justify;
    
  }
  
  .aspirations { grid-area: aspirations;
                 padding: 40px;
  }

  .aspirations p{
    font-size: 2.4rem;
    text-align: justify;

  }
  
  .likeshobbies {
     grid-area: likeshobbies;
     padding: 40px; 
  }

  .likeshobbies ol{
    font-size: 2rem;
  }

  .interests-grid h1{
    text-decoration-line: underline;
  }

  .traits { grid-area: traits; }
  
  .traits ol{
    font-size: 2rem;
  }
  
  @media all and (-ms-high-contrast:none) {
    .interests-grid {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr 1fr;
      -ms-grid-rows: 1fr 1fr;
    }
  
    .life {
      -ms-grid-row: 1;
      grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-column-span: 1;
    }
  
    .aspirations {
      -ms-grid-row: 1;
      grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      grid-column: 2;
      -ms-grid-column-span: 1;
    }
  
    .likeshobbies {
      -ms-grid-row: 2;
      grid-row: 2;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-column-span: 1;
    }
  
    .traits {
      -ms-grid-row: 2;
      grid-row: 2;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      grid-column: 2;
      -ms-grid-column-span: 1;
    }
  
  }