@keyframes white-noise {
  0% {
    background-image: url(/files/images/whitenoise.webp);
    background-position: --random-number --random-number;
  }
  100% {
    background-position: 100% 100%; 
  }
}

@keyframes hide {
  0% {
    opacity: 0;
  }
  90%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


@keyframes buttonreflectiontextanim{
    0%, 100% {
      text-shadow: yellowgreen,
    yellowgreen,
    yellowgreen;
    }
    50% {
      text-shadow: none;
     }
}